DATABASE_URL=
JWT_SECRET=your_random_secret_here
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
GEOAPIFY_KEY=
NEXT_PUBLIC_DEFAULT_LAT=14.5995
NEXT_PUBLIC_DEFAULT_LNG=120.9842
NEXT_PUBLIC_DEFAULT_ZOOM=13
